<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Demo</title>
    <base href="/">
    <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="app">
    <div ng-controller="TopNavController as vm">
        <nav class="row navbar navbar-light bg-faded">
            <a href="" class="navbar-brand" ng-if="undefined != vm.user">
                <img ng-src="{{vm.user.avatar_url}}" width="30" height="30" class="d-inline-block align-top" alt="">
                {{vm.user.login}}
            </a>
            <!--<a href="" class="navbar-brand" ng-if="undefined != vm.user">
                <img ng-src="{{vm.user.avatar_url}}" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>-->
        </nav>
        <ui-view></ui-view>
    </div>
    <!--libraries -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <script src="node_modules/angular-translate/dist/angular-translate.min.js"></script>

    <!-- app module -->
    <script src="app/app.module.js"></script>
    <script src="app/app.routes.js"></script>
    <!-- core module -->
    <script src="app/core/core.module.js"></script>
    <script src="app/core/core.config.js"></script>
    <script src="app/core/core.constants.js"></script>
    <script src="app/core/core.properties.js"></script>

    <script src="app/layout/layout.module.js"></script>
    <script src="app/layout/topNav.controller.js"></script>

    <script src="app/users/users.module.js"></script>
    <script src="app/users/home.controller.js"></script>
    <script src="app/users/repos.controller.js"></script>
    <script src="app/users/services/users.service.js"></script>
    <script src="app/users/services/repos.service.js"></script>
</body>
</html>