<!--<h1>hello</h1>-->
<div class="col-md-12">
    <h1>{{'REP_TITLE' | translate}}</h1>
</div>
<div class="row">
    <div class="row col-sm-6 col-md-4 col-lg-3 custom-card" ng-repeat="item in rvm.repos">
        <div class="col-md-12">
            <h5><a href="{{item.html_url}}" target="blank"><h6>{{item.name}}</h6></a></h5>
        </div>
        <div class="col-md-12">
            <p>{{item.description}}</p>
        </div>
        <div class="col-md-12">
            <span data-toogle="tooltip" data-placement="bottom" title="Open Issues">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                {{item.open_issues}}
            </span>
            <span data-toogle="tooltip" data-placement="bottom" title="Forks">
                <i class="fa fa-code-fork" aria-hidden="true"></i>
                {{item.forks}}
            </span>
            <span data-toogle="tooltip" data-placement="bottom" title="Issues">
                <i class="fa fa-github-square" aria-hidden="true"></i>
                {{item.open_issues_count}}
            </span>
        </div>
    </div>
    <div class="row col-sm-6 col-md-4 col-lg-3" ng-repeat="item in hvm.users">
        <button ng-show="$last" ng-click="hvm.getUsersFrom(item.id);">{{'MORE' | translate }}}</button>
    </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">{{'PREV' | translate}}</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">{{'NEXT' | translate}}</a></li>
  </ul>
</nav>